header {
	text-align: center;
	margin: 0 auto;
	width: 50%;
	border: 1px solid black;
}

main {
	border: 1px solid red;
	display: none;
}

.css-typing {
	font-family: "Share Tech Mono";
	font-size: 2em;
	margin: 1em;
	white-space:nowrap;
	overflow: hidden;
	width: 21em;
  	-webkit-animation: type 5s steps(50, end);
    animation: type 3s steps(50, end);
}

span {
  animation: blink 1s infinite;
} 

@keyframes type{
	from{ width: 0;}
}

@-webkit-keyframes type{
    from { width: 0; }
}

@keyframes blink{
	to{ opacity: .0;}
}

.spyimage {
	display: none;
}

.btn-start {
	display: none;
	margin-top: 3em;
}