header {
	text-align: center;
	margin: 3em auto;
	width: 50%;
	/*border: 1px solid black;*/
}

.css-typing {
	font-family: "Share Tech Mono";
	font-size: 2em;
	margin: 1em;
	white-space: nowrap;
	overflow: hidden;
	width: 21em;
  -webkit-animation: type 5s steps(50, end);
  animation: type 3s steps(50, end);
	display: none;
}

.cursor {
  animation: blink 1s infinite;
} 

@keyframes type{
	from{ width: 0;}
}

@-webkit-keyframes type{
    from { width: 0; }
}

@keyframes blink{
	to{ opacity: .0;}
}

.spyimage {
	display: none;
}

.btn-start {
	display: none;
	margin-top: 1em;
	text-align: center;
	/*border: 1px solid green;*/
}

.startButton {
	background-color: black;
	font-family: "Share Tech Mono";
	font-size: 1.5em;
	color: white;
}

.startButton:focus {
	outline: 0 !important;
}

.startButton:hover {
	background-color: white;
	font-family: "Share Tech Mono";
	color: black;
	border: 3px solid black;
}

.main-quiz-holder {
	/*border: 1px solid red;*/
	margin-top: 3em;
	display: none;
	text-align: center;
}

#prompt {
	/*border: 1px solid green;*/
	/*font-family: "Share Tech Mono";*/
}

.questionNumberDisplay {
	font-size: 1.5em;
	/*font-family: "Share Tech Mono";*/
}

label {
	display: block;
}

input[type="radio"] {
	opacity: 0;
}

.choice-wrapper {
	text-align: center;
	/*border: 1px solid green;*/
}

.choice {
	border: 1px solid black;
	padding: 1em;
	margin: 0 auto;
	border-radius: 5px;
	width: 30%;
}

.choice:hover {
	background-color: black;
	color: white;
}

#result-msg {
	/*border: 1px solid red;*/
	margin-bottom: 1.5em;
}

#againButton {
	color: black;
	background-color: white;
	border: 2px solid black;
	margin-bottom: 1.5em;
}

#againButton:hover {
	background-color: black;
	color: white;
}
